#appWrapper {
  position: relative;
  width: 1000px;
  margin: auto;
  padding: 10px;
}

#inputWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin-top: 20px;

  margin: 10px;
  line-height: 30px;
  padding-bottom: 10px;
}

#inputPlot {
  color: #000000;
  border: black 2px solid;
  background: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#calculate-button {
  display: flex;
  justify-content: center;
}

#inputPlot:hover {
  cursor: pointer;
}

#plotterWrapper {
  display: flex;
  justify-content: center;
  padding: 0 45px;
}

.func {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  border: solid black 2px;
  max-width: 400px;
}

.left-side-input {
justify-self: end;
margin-right: 20px;
}

.calculate-button {
  display: flex;
  justify-content: center;
}