#appWrapper {
  padding: 10px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#inputWrapper {
  width: 50%;
  margin: 20px 0;
  line-height: 30px;
  margin: 20px auto;
}

.firstRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1.3fr;
}

.secondRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#inputPlot {
  color: #000000;
  border: black 2px solid;
  background: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#calculate-button {
  display: flex;
  justify-content: center;
}

#inputPlot:hover {
  cursor: pointer;
}

#plotterWrapper {
  display: none;
  padding: 30px 0 0 30px;
  /* margin-left: 30px; */
}

#plotterWrapper text:not(.top-right-legend) {
  text-anchor: unset !important;
}

.func {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  border: solid black 2px;
  max-width: 400px;
}

.left-side-input {
  justify-self: end;
  /* margin-right: 20px; */
}

#inputRangeLeft {
  margin-right: 30px;
}

.center-input {
  justify-self: center;
}

.calculate-button {
  display: flex;
  justify-content: center;
}

#spline-coefficient {
  margin-left: 20px;
  border-collapse: collapse;
}

#spline-coefficient tr:nth-child(2n) {
  background-color: #f2f2f2;
}

#spline-coefficient th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(120, 124, 120);
  color: white;
}

#spline-coefficient td,
#spline-coefficient th {
  border: 1px solid #ddd;
  padding: 8px;
}

.content {
  display: flex;
  justify-content: center;
}
